.img{
    width: 300px;
}

.navbar{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

li{
    text-decoration: none;
}

tr{
    border: 2px solid black;
}

table{
    border: 2px solid black;
}
th{
    border: 2px solid black;
}

tr{
    border: 2px solid black;
}

td{

    border: 2px solid black;
}