<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survery</title>
</head>
<style>
    *{
        margin: auto;
        text-align: center;
    }

</style>
<body>
<div>
    <form action="/process" method = 'POST'>
        <h1>Dojo Survey</h1>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="locations">Dojo Location:</label>
        <select name="locations" id="locations">
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
            <option value="Burbank">Burbank</option>
            <option value="Sunnyvale">Sunnyvale</option>
        </select>
        <br>
        <Label for="language">Favorite Language</Label>
        <select name="language" id="language">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="CSS">CSS</option>
            <option value="Java">Java</option>
        </select>
        <br>
        <label for="comments">Comments</label>
        <br>
        <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
        <br>
    <button type="submit">Submit</button>
    </form>

    
</div>
</body>
</html>